@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Space Grotesk', sans-serif;
    height: 100%;
}

h1, h2{
    font-weight: 400;
    line-height: 1.2;
    margin: 10px 0;
}

p{
    margin: 10px 0;
}

/* Wrapper */
.wrapper{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
}

/* Background gradient */
.background-gradient{
    width: 40%;
    height: 100%;
    background: url(../images/bg-main-desktop.png)no-repeat center center/cover;
}

/* Container */
.container{
    max-width: 400px;
    margin: auto;
    padding: 2rem;
}

/* Form */
.form-control{
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-control label{
    display: block;
    margin-bottom: 8px;
    font-size: 13px;
    color: #21092f;
    text-transform: uppercase;
}

.form-control input{
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #dedddf;
}

.form-control.error input{
    border-color: red;
}

.form-control.success input{
    border-color: green;
}

.form-control input:focus{
    outline: none;
    border-color: hsl(278, 94%, 30%);
}

.form-control input::placeholder{
    color: #dedddf;
    font-family: inherit;
}

.form-control-group{
    display: flex;
    justify-content: space-between;
    /* width: 100%; */
}

.form-control.inner-input{
    width: 47%;
}

.form-control.inner-input.error input{
    border-color: red;
}

.form-control.inner-input.success input{
    border-color: green;
}

.form-control.inner-input.error small{
    color: red;
    visibility: visible;
}

.form-control .input-group{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.form-control .input-group input{
    width: 47%;
}

.form-control small{
    position: absolute;
    left: 0;
    bottom: 0;
    font-size: 11px;
    visibility: hidden;
}

.form-control.error small{
    color: red;
    visibility: visible;
}

.form-control.success small{
    color: green;
}

button{
    width: 100%;
    padding: 12px;
    background: #21092f;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 6px;
    font-family: inherit;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 50px;
}

/* Card front */
.card-front{
    position: absolute;
    top: 20%;
    left: 23%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #fff;
    background: url(/images/bg-card-front.png)no-repeat center center/cover;
    width: 300px;
    max-width: 100%;
    height: 180px;
    max-height: 100%;
    border-radius: 10px;
    padding: 20px;
    letter-spacing: 2px;
}

.card-front .card-number{
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 100;
}

.card-front .card-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 400;
}

/* Card back */
.card-back{
    position: absolute;
    top: 50%;
    left: 28%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #fff;
    background: url(/images/bg-card-back.png)no-repeat center center/cover;
    width: 300px;
    max-width: 100%;
    height: 180px;
    max-height: 100%;
    border-radius: 10px;
    padding: 20px;
    letter-spacing: 2px;
}

.card-back .card-cvc{
    position: absolute;
    top: 80px;
    right: 35px;
}

/* Thank you page */
.complete{
    display: none;
    text-align: center;
    line-height: 3;
}

.container.complete button{
    width: 300px;
}

/* Attribution */
.attribution{
    position: absolute;
    bottom: 20px;
}

@media(max-width: 1350px){
    .background-gradient{
        width: 30%;
        height: 100%;
        background: url(../images/bg-main-desktop.png)no-repeat center center/cover;
    }

    .card-front{
        top: 20%;
        left: 10%;
    }

    .card-back{
        top: 50%;
        left: 14%;
    }
}

@media(max-width: 1100px){
    .card-front{
        top: 20%;
        left: 5%;
    }

    .card-back{
        top: 50%;
        left: 10%;
    }
}

@media(max-width: 1000px){
    .wrapper{
        position: relative;
        width: 100%;
        min-height: 100%;
        display: flex;
        flex-direction: column;
    }

    .background-gradient{
        width: 100%;
        height: 40%;
        background: url(/images/bg-main-mobile.png)no-repeat center center/cover;
    }

    .card-front{
        top: 34%;
        left: 42%;
        transform: translate(-50%, -50%);
        z-index: 10;
    }

    .card-back{
        top: 22%;
        left: 55%;
        transform: translate(-50%, -50%);
    }

    .container{
        padding-top: 6rem;
    }

    .attribution{
        position: relative;
        /* left: 57%; */
        text-align: center;
        /* width: 100%; */
    }
}

@media(max-width: 380px){
    .card-front{
        position: absolute;
        top: 24%;
        left: 42%;
        transform: translate(-50%, -50%);
        width: 260px;
        max-width: 100%;
        height: 130px;
        max-height: 100%;
        border-radius: 6px;
        padding: 10px;
    }

    .card-front .card-number{
        font-size: 14px;
        margin-bottom: 5px;
        font-weight: 100;
    }

    .card-back{
        position: absolute;
        top: 13%;
        left: 55%;
        transform: translate(-50%, -50%);
        width: 260px;
        max-width: 100%;
        height: 130px;
        max-height: 100%;
        border-radius: 6px;
        padding: 10px;
    }

    .card-back .card-cvc{
        position: absolute;
        top: 52px;
        right: 35px;
    }

    .container{
        max-width: 400px;
        margin: 1px;
        padding: 1rem 2rem;
    }
}